{% load pluralize %}

<div class="tab-pane fade" id="proxy" role="tabpanel" aria-labelledby="proxy-tab">
  <button type="button" class="btn btn-secondary btn-md btn-block" data-toggle="modal" data-target="#addproxy">Добавить Прокси</button>

  <div class="modal fade" id="addproxy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавить прокси</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="/tools/addproxy/" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <label for="tokenname">Имя прокси</label>
              <input type="text" name="name" class="form-control" id="tokentext" aria-describedby="tokentextd">
              <small id="tokentextd" class="form-text text-muted">Используйте это поле, чтобы вести учет ваших прокси</small>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Введите прокси или оставьте пустым про вводе из файла</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="proxy"></textarea>
            </div>
            <div class="input-group mb-3">
              <div class="custom-file ">
                <input name="proxyfileinput" type="file" class="custom-file-input" id="fileinputproxyp">
                <label class="custom-file-label" for="fileinputdata" data-browse="Выбрать файл">Загрузка файла с прокси</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
  {% if len_proxy is 0 %}
  <h1>У вас нет прокси</h1>
  {% else %}
  {% for i in proxy %}
  <div class="shadow accordion" id="accordion{{ i.id }}">
    <div class="card">
      <div class="card-header">
        <b>{{ i.name }}</b> {{ i.date }} &nbsp;&nbsp;
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#renameproxy{{ i.id }}">
          Переименовать
        </button>
        <div class="modal fade" id="renameproxy{{ i.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Переименовать прокси "{{ i.name }}"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post" action="/tools/renameproxy/">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="form-group">
                    <label for="tokenname">Имя прокси</label>
                    <input type="text" name="name" class="form-control" id="tokentext" aria-describedby="tokentextd" value="{{ i.name }}">
                    <small id="tokentextd" class="form-text text-muted">Используйте это поле, чтобы вести учет ваших прокси</small>
                  </div>
                  <input type="hidden" name="id" value="{{ i.id }}" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                  <button type="submit" class="btn btn-primary">Переименовать</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <a class="btn btn-outline-danger" href="/tools/removeproxy?id={{ i.id }}">Удалить</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading{{ i.id }}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ i.id }}" aria-expanded="false" aria-controls="collapse{{ i.id }}">
            Показать содержимое
          </button>
        </h2>
      </div>
      <div id="collapse{{ i.id }}" class="collapse" aria-labelledby="heading{{ i.id }}" data-parent="#accordion{{ i.id }}">
        <div class="card-body">
          <pre>{{ i.proxy|cutlines }}</pre>
        </div>
      </div>
    </div>

  </div>
  <br>
  {% endfor %}
  {% endif %}
</div>
