{% load pluralize %}

<div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab">
  {% if len_reqs is 0 %}
  <h3>Вы не сделали еще ни одного запроса. <a href="#makerequest" data-toggle="pill" role="tab" aria-controls="makerequest">Попробуйте!</a></h3>
  {% else %}
  {% for i in req %}
  <div class="shadow accordion" id="accordion{{ i.task }}">
    <div class="card">
      <div class="card-header">{{ i.date|date:"SHORT_DATETIME_FORMAT" }}{% if i.is_done is 100 %} - <b>Выполнен</b>{% endif %}&nbsp;&nbsp; <a class="btn btn-outline-danger" href="/tools/removereq?req={{ i.task }}">Удалить</a> {% if i.is_done is not 0 %}<a class="btn btn-outline-secondary"
          href="/tools/downloadcsv?task={{ i.task }}">Скачать CSV</a>{% endif %}</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            TASK ID - <code>{{ i.task }}</code>
            <br>
            В запросе {% if i.is_id %}айдишники{% else %}юзернеймы{% endif %}
            <br>
            {% if i.is_done is not 100 %}Используется{% else %}Использовалось{% endif %} {{ i.threads }} {{ i.threads|rupluralize:"поток,потока,потоков" }} для этого запроса.<br>
            <i class"text-secondary">Обратите винмание, что в превью отображается только первые 100 строчек, чтобы посмотреть все данные нажмите скачать CSV. {% if i.is_done is 0 %}(Cейчас не доступно, потому что ответ еще не готов){% endif %}</i>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="heading{{ i.task }}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ i.task }}" aria-expanded="false" aria-controls="collapse{{ i.task }}">
            Показать содержимое запроса
          </button>
        </h2>
      </div>
      <div id="collapse{{ i.task }}" class="collapse" aria-labelledby="heading{{ i.task }}" data-parent="#accordion{{ i.task }}">
        <div class="card-body">
          <pre>{{ i.data|cutlines }}</pre>
        </div>
      </div>
    </div>
    <div class="card">
      {% if i.is_done is not 0 %}
      <div class="card-header" id="heading{{ i.task }}2">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ i.task }}2" aria-expanded="false" aria-controls="collapse{{ i.task }}2">
            Показать содержимое ответа
        </h2>
      </div>
      <div id="collapse{{ i.task }}2" class="collapse" aria-labelledby="heading{{ i.task }}2" data-parent="#accordion{{ i.task }}">
        <div class="card-body">
          <pre id="response_forjs_{{ i.task }}">{{ i.response|cutlines }}</pre>
        </div>
      </div>
      {% else %}
      <div class="card-body">
        Ответ еще не получен, ожидайте.
      </div>
      {% endif %}
    </div>
    {% if i.is_done is not 0 and i.is_done is not 100 %}
    <div class="progress" style="height: 20px;">
      <div id="progressbar_forjs_{{ i.task }}" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ i.is_done }}%" aria-valuenow="{{ i.is_done }}" aria-valuemin="0" aria-valuemax="100">Идет анализ данных выполненно {{ i.is_done }}%
      </div>
    </div>
    {% endif %}
  </div>

  <br>
  {% endfor %}
  {% endif %}
</div>
