<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
  <h1>Профиль</h1>
  <p></p>
  <form method="POST" name="privdata">
    {% csrf_token %}
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Имя и Фамилия</span>
      </div>
      <input required name="FirstName" type="text" aria-label="First name" class="form-control" value="{{ user.first_name }}" placeholder="Сменивший Имя">
      <input name="LastName" type="text" aria-label="Last name" class="form-control" value="{{ user.last_name }}" placeholder="Сменивший Фамилию">
    </div>
    <p></p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Имя Пользователя</span>
      </div>
      <input required name="username" type="text" class="form-control" placeholder="__nick_changer__" aria-label="Имя пользователя" aria-describedby="basic-addon1" value="{{ user.username }}">
    </div>
    <p></p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Email</span>
      </div>
      <input required name="email" type="text" class="form-control" placeholder="mailer@inspiper.ru" aria-label="email" aria-describedby="basic-addon1" value="{{ user.email }}">
    </div>
    <p></p>
    <div class="form-group">
      <input name="pdatasubm" type="submit" class="form-control" id="exampleInputEmail1" aria-describedby="submitHelp" value="Сохранить">
    </div>
  </form>
  <p></p>
  <p>Последний раз вы заходили {{ user.last_login }}</p>
</div>
