{% extends "base.html" %}
{% load static %}

{% block title %} | {{ user.first_name }}{% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Привет {{ user.first_name }}!</a>
</li>
{% endblock %}

{% block endnav %}
<a href="/logout/"><button class="btn btn-outline-dark my-2 my-sm-0">Выйти</button></a>
{% endblock %}

{% block content %}
{% if messages %}
<ul>
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endfor %}
</ul>
{% endif %}
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" id="tokens-tab" data-toggle="pill" href="#tokens" role="tab" aria-controls="tokens" aria-selected="false">Токены</a>
      <a class="nav-link active" id="requests-tab" data-toggle="pill" href="#requests" role="tab" aria-controls="requests" aria-selected="true">Запросы</a>
      <a class="nav-link" id="settins-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Настройки</a>
      <a class="nav-link" id="makerequest-tab" data-toggle="pill" href="#makerequest" role="tab" aria-controls="makerequest" aria-selected="false">Сделать Запрос</a>
      <a class="nav-link" id="proxy-tab" data-toggle="pill" href="#proxy" role="tab" aria-controls="proxy" aria-selected="false">Прокси</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="tokens" role="tabpanel" aria-labelledby="tokens-tab">
        <button type="button" class="btn btn-secondary btn-md btn-block" data-toggle="modal" data-target="#addtokenform">Добавить Токен</button>

        <div class="modal fade" id="addtokenform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить токен</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/addtoken/">
        {% csrf_token %}
      <div class="modal-body">
         <div class="form-group">
    <label for="tokenname">Имя токена</label>
    <input type="text" name="name" class="form-control" id="tokentext" aria-describedby="tokentextd">
    <small id="tokentextd" class="form-text text-muted">Используйте это поле, чтобы вести учет ваших токенов</small>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Добавить</button>
      </div>
      </form>
    </div>
  </div>
</div>

        <br>
        {% if tokens_null %}
        <h3>У вас нет токенов, создайте один 👆</h3>
        {% else %}
        {% for i in tokens %}
        <div class="card shadow {% if i.is_valid %}border-success{% else %}border-danger{% endif %}">
          <div class="card-header"><b>{{ i.name }}</b> - {% if i.is_valid %}Валидный{% else %}Невалидный{% endif %}</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <code>{{ i.token }}</code>
            </li>
            <li class="list-group-item">
              Был создан {{ i.date }}
            </li>
            <li class="list-group-item">
              <a href="removetoken?token={{ i.token }}" class="btn btn-primary btn-block">Удалить</a>
            </li>
          </ul>
        </div>
        <br>
        {% endfor %}
        {% endif %}
      </div>
      <div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="requests-tab">
        {% if requests_null %}
        <h3>Вы не сделали еще ни одного запроса. <a href="#makerequest"  data-toggle="pill" role="tab" aria-controls="makerequest">Попробуйте!</a></h3>
        {% else %}
        {% for i in req %}
        <div class="shadow accordion" id="accordion{{ i.task }}">
          <div class="card">
            <div class="card-header">{{ i.date }}{% if i.is_done is 100 %} - Выполнен{% endif %} <a class="btn btn-outline-danger" href="/removereq?req={{ i.task }}">Удалить</a> {% if i.is_done is not 0 %}<a class="btn btn-outline-secondary" href="/downloadcsv?task={{ i.task }}">Скачать CSV</a>{% endif %}</div> 
              <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  TASK ID - <code>{{ i.task }}</code>
                  <br>
                  В запросе {% if i.is_id %}айдишники{% else %}юзернеймы{% endif %}
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading{{ i.task }}">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ i.task }}" aria-expanded="false" aria-controls="collapse{{ i.task }}">
                  Показать содержимое запроса
                </button>
              </h2>
            </div>
            <div id="collapse{{ i.task }}" class="collapse" aria-labelledby="heading{{ i.task }}" data-parent="#accordion{{ i.task }}">
              <div class="card-body">
                <pre>{{ i.data|safe }}</pre>
              </div>
            </div>
          </div>
          <div class="card">
            {% if i.is_done is not 0 %}
            <div class="card-header" id="heading{{ i.task }}2">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ i.task }}2" aria-expanded="false" aria-controls="collapse{{ i.task }}2">
                  Показать содержимое ответа
              </h2>
            </div>
            <div id="collapse{{ i.task }}2" class="collapse" aria-labelledby="heading{{ i.task }}2" data-parent="#accordion{{ i.task }}">
              <div class="card-body">
                <pre>{{ i.response|safe }}</pre>
              </div>
            </div>
            {% else %}
            <div class="card-body">
              Ответ еще не получен, ожидайте.
            </div>
            {% endif %}
          </div>
           {% if i.is_done is not 0 and i.is_done is not 100 %}
            <div class="progress" style="height: 20px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ i.is_done }}%" aria-valuenow="{{ i.is_done }}" aria-valuemin="0" aria-valuemax="100">Идет анализ данных выполненно {{ i.is_done }}%</div>
          </div>
          {% endif %}
        </div>
      
        <br>
        {% endfor %}
        {% endif %}

      </div>
      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
       <h1>Профиль</h1>
<p></p>
<form method="POST" name="privdata">
  {% csrf_token %}
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Имя и Фамилия</span>
    </div>
    <input required name="FirstName" type="text" aria-label="First name" class="form-control" value="{{ user.first_name }}" placeholder="Сменивший Имя">
    <input name="LastName" type="text" aria-label="Last name" class="form-control" value="{{ user.last_name }}" placeholder="Сменивший Фамилию">
  </div>
  <p></p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Имя Пользователя</span>
    </div>
    <input required name="username" type="text" class="form-control" placeholder="__nick_changer__" aria-label="Имя пользователя" aria-describedby="basic-addon1" value="{{ user.username }}">
  </div>
  <p></p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Email</span>
    </div>
    <input required name="email" type="text" class="form-control" placeholder="mailer@inspiper.ru" aria-label="email" aria-describedby="basic-addon1" value="{{ user.email }}">
  </div>
  <p></p>
  <div class="form-group">
    <input name="pdatasubm" type="submit" class="form-control" id="exampleInputEmail1" aria-describedby="submitHelp" value="Сохранить">
  </div>
</form>
<p></p>
<p>Последний раз вы заходили {{ user.last_login }}</p>
      </div>
      <div class="tab-pane fade" id="makerequest" role="tabpanel" aria-labelledby="makerequest-tab">
        {% if req_tokens_null %}
        <h3>У вас нет активных токенов. <a href="#tokens">Добавьте токен</a> и пройдите валидацию.</h3>
        {% else %}
        <h1>Новый запрос.</h1>
        <br>
        <form method="post" name="makerequest" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Выберите токен</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="token">
              <option disabled>Выберите Токен</option>
              {% for i in req_tokens %}
              <option>{{ i.token }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Введите данные или оставьте пустым про вводе из файла</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="data"></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Загрузка файла с данными для распознавания</span>
            </div>
            <div class="custom-file">
              <input name="datafileinput" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="datatype" id="inlineRadio1" value="usernames">
              <label class="form-check-label" for="inlineRadio1">Это юзернеймы</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="datatype" id="inlineRadio2" value="ids">
              <label class="form-check-label" for="inlineRadio2">Это айдишники</label>
            </div>
          </fieldset>
          {% if not proxy_null %}
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Выберите прокси из сохраненных или введите ниже</label>
            </div>
            <select name="proxysaved" class="custom-select" id="inputGroupSelect01">
              <option value="none" selected>Введу ниже</option>
              {% for i in proxy %}
              <option value="{{ i.id }}">{{ i.name }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Введите прокси или оставьте пустым про вводе из файла или выборе из сохраненных</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="proxy"></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Загрузка файла с прокси</span>
            </div>
            <div class="custom-file">
              <input name="proxyfileinput" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
            </div>
          </div>

          <input class="btn btn-dark btn-md btn-block" name="makerequest" value="Сделать Запрос" type="submit">
        </form>
        {% endif %}
      </div>
      <div class="tab-pane fade" id="proxy" role="tabpanel" aria-labelledby="proxy-tab">
        <button type="button" class="btn btn-secondary btn-md btn-block" data-toggle="modal" data-target="#addproxy">Добавить Прокси</button>

        <div class="modal fade" id="addproxy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить прокси</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="/addproxy/" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="modal-body">
         <div class="form-group">
    <label for="tokenname">Имя прокси</label>
    <input type="text" name="name" class="form-control" id="tokentext" aria-describedby="tokentextd">
    <small id="tokentextd" class="form-text text-muted">Используйте это поле, чтобы вести учет ваших прокси</small>
  </div>
<div class="form-group">
            <label for="exampleFormControlTextarea1">Введите прокси или оставьте пустым про вводе из файла</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="proxy"></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Загрузка файла с прокси</span>
            </div>
            <div class="custom-file">
              <input name="proxyfileinput" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Добавить</button>
      </div>
      </form>
    </div>
  </div>
</div>
<br>

        {% if proxy_null %}
        <h1>У вас нет прокси</h1>
        {% else %}
        {% for i in proxy %}
        <div class="shadow accordion" id="accordion{{ i.id }}">
          <div class="card">
            <div class="card-header">
              <b>{{ i.name }}</b> {{ i.date }} 
              <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#renameproxy{{ i.id }}">
                Переименовать
              </button>
              <div class="modal fade" id="renameproxy{{ i.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Переименовать прокси "{{ i.name }}"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="post" action="/renameproxy/">
                    {% csrf_token %}
                  <div class="modal-body">
                     <div class="form-group">
                      <label for="tokenname">Имя прокси</label>
                      <input type="text" name="name" class="form-control" id="tokentext" aria-describedby="tokentextd">
                      <small id="tokentextd" class="form-text text-muted">Используйте это поле, чтобы вести учет ваших прокси</small>
                    </div>
                    <input type="hidden" name="id" value="{{ i.id }}"/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Переименовать</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
              <a class="btn btn-outline-danger" href="/removeproxy?id={{ i.id }}">Удалить</a> 
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading{{ i.id }}">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ i.id }}" aria-expanded="false" aria-controls="collapse{{ i.id }}">
                  Показать содержимое
                </button>
              </h2>
            </div>
            <div id="collapse{{ i.id }}" class="collapse" aria-labelledby="heading{{ i.id }}" data-parent="#accordion{{ i.id }}">
              <div class="card-body">
                <pre>{{ i.proxy|safe }}</pre>
              </div>
            </div>
          </div>

        </div>
        <br>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
