{% extends "base.html" %}
{% load static %}

{% block title %} | {{ user.first_name }}{% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Привет {{ user.first_name }}!</a>
</li>
{% endblock %}

{% block endnav %}
<a href="/logout/"><button class="btn btn-outline-dark my-2 my-sm-0">Выйти</button></a>
{% endblock %}

{% block content %}

{% if messages %}
<ul>
  {% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% endfor %}
</ul>
{% endif %}

<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" id="tokens-tab" data-toggle="pill" href="#tokens" role="tab" aria-controls="tokens" aria-selected="false">Токены</a>
      <a class="nav-link active" id="requests-tab" data-toggle="pill" href="#requests" role="tab" aria-controls="requests" aria-selected="true">Запросы</a>
      <a class="nav-link" id="settins-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Настройки</a>
      <a class="nav-link" id="makerequest-tab" data-toggle="pill" href="#makerequest" role="tab" aria-controls="makerequest" aria-selected="false">Сделать Запрос</a>
      <a class="nav-link" id="proxy-tab" data-toggle="pill" href="#proxy" role="tab" aria-controls="proxy" aria-selected="false">Прокси</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      {% include "mainpageparts/tokens.html" %}
      {% include "mainpageparts/requests.html" %}
      {% include "mainpageparts/settings.html" %}
      {% include "mainpageparts/makerequest.html" %}
      {% include "mainpageparts/proxy.html" %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  var reqs = {
    {% for i in req %}
    {% if i.is_done is not 100 %}
    "{{ i.token.token }}": "{{ i.task }}",
    {% endif %}
    {% endfor %}
  };
  var domen = "{{ domen }}";
</script>
<script src="{% static 'js/authed.js' %}"></script>
{% endblock %}
