<!doctype html>

{% load static %}

<html lang="ru">
<head>
  <meta charset="utf-8">

  <title>Inst Piper</title>
  <meta name="description" content="Офицальный сайт Inst Piper">
  <meta name="author" content="Inst Piper Ltd.">

</head>

<body>
  <center name="center">
    <h1>Inst Piper!</h1>
    
    <p>Вы авторизовались как {{ user.username }}. <a href='logout/'>Выйти</a></p>
    {% if tokens_null %}
    <p>У вас нет активных токенов добавьте токен и пройдите валидацию.</p>
    {% else %}
    <form method="post">
      {% csrf_token %}
    <select name="token">
      <option disabled>Выберите Токен</option>
      {% for i in tokens %}
      <option>{{ i.token }}</option>
      {% endfor %}
    </select>

    <textarea name="data"></textarea>

    <input value="Сделать Запрос" type="submit"> 
    </form>

    {% endif %}
    <a href="/">На Главную</a>
  </center>
</body>
</html>
